.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 5px;
  margin-bottom: 7px;
}

.material-icons:hover {
  transform: scale(1.25);
}

.material-icons:active {
  transform: translateY(2px);
}

.vote-box {
  display: flex;
  align-items: center;
}
